package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className}Entity;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao{


    /**
     * 保存
     */
        void save(${className}DTO ${classname});

    /**
    * 更新
*/
    void update(${className}DTO ${classname});

    /**
    * 删除
*/
    void delete(List<Integer> Ids);

    /**
    * 查询列表
*/
    List<${className}VO> list(${className}DTO ${classname});

    /**
    * 分页
*/
    PageData<${className}VO> page(${className}Page ${classname});
}
