package ${package}.${moduleName}.entity;

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;

    #if(${hasBigDecimal})
    import java.math.BigDecimal;
    #end
import java.io.Serializable;
import java.util.Date;

import lombok.Data;

import javax.validation.constraints.NotBlank;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${className}DTO {

    #foreach ($column in $columns)
    /**
     * $column.comments
     */
    #if($column.attrType == "String")
    @NotBlank(message = "$column.attrname 不能为空" )
    #else
    @NotNull(message = "$column.attrname 不能为空" )
    #end
    private $column.attrType $column.attrname;
    #end

}
