package ${mainPath}.${classnameLower}.service;
import ${mainPath}.${classnameLower}.dto.*;
import ${mainPath}.${classnameLower}.vo.${className}VO;
import ${basePath}.common.base.PageData;
import java.util.List;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service {

    /**
    * 保存
    */
    ${className}DTO save(${className}DTO ${classname});

    /**
    * 更新
    */
    void update(${className}DTO ${classname});

    /**
    * 删除
    */
    void delete(List<Integer> ids);

    /**
    * 查询列表
    */
    List<${className}VO> list(${className}DTO ${classname});

    /**
    * 分页
    */
    PageData<${className}VO> page(${className}Page ${classname});

    /**
    * 根据id查询
    */
    ${className}VO findById(${pk.attrType} ${pk.attrname});

    /**
    * 批量添加
    */
    void batchInsert(List<${className}DTO> ${classname});
}

