package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${mainPath}.common.utils.PageUtils;
import ${package}.${moduleName}.entity.${className}Entity;

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service {

    /**
    * 保存
    */
    ${className}DTO save(${className}DTO ${classname});

    /**
    * 更新
    */
    void update(${className}DTO ${classname});

    /**
    * 删除
    */
    void delete(List<Integer> ids);

    /**
    * 查询列表
    */
    List<${className}VO> list(${className}DTO ${classname});

    /**
    * 分页
    */
    PageData<${className}VO> page(${className}Page ${classname});
}

